{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bateau</h1>

    <table>
        <tbody>
            <tr>
                <th>Idbateau</th>
                <td>{{ bateau.idbateau }}</td>
            </tr>
            <tr>
                <th>Marquebateau</th>
                <td>{{ bateau.marquebateau }}</td>
            </tr>
            <tr>
                <th>Longueurcoquebateau</th>
                <td>{{ bateau.longueurcoquebateau }}</td>
            </tr>
            <tr>
                <th>Longueurflottaisonbateau</th>
                <td>{{ bateau.longueurflottaisonbateau }}</td>
            </tr>
            <tr>
                <th>Largeurmaxibateau</th>
                <td>{{ bateau.largeurmaxibateau }}</td>
            </tr>
            <tr>
                <th>Tirantairbateau</th>
                <td>{{ bateau.tirantairbateau }}</td>
            </tr>
            <tr>
                <th>Tiranteauminbateau</th>
                <td>{{ bateau.tiranteauminbateau }}</td>
            </tr>
            <tr>
                <th>Typecoquebateau</th>
                <td>{{ bateau.typecoquebateau }}</td>
            </tr>
            <tr>
                <th>Anneebateau</th>
                <td>{{ bateau.anneebateau }}</td>
            </tr>
            <tr>
                <th>Deplacementlegebateau</th>
                <td>{{ bateau.deplacementlegebateau }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bateau_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bateau_edit', { 'idbateau': bateau.idbateau }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
