<style>
    th, td {
        padding: 10px;
    }
    th {
        text-align: right;
    }
</style>

<h1>Article Created or Modified</h1>

<table>
    <tbody>
    <tr>
        <th>Title:</th>
        <td>{{ bateau.idBateau }}</td>
    </tr>
    <tr>
        <th>Author:</th>
        <td>{{ bateau.marqueBateau }}</td>
    </tr>
    <tr>
        <th>Article Body:</th>
        <td>{{ bateau.longueurCoqueBateau }}</td>
    </tr>
    <tr>
        <th>Homepage:</th>
        <td>{{ bateau.TirantEauMinBateau }}</td>
    </tr>
    </tbody>
</table>

<br/>
<a href="/show-bateau">View All</a> -
<a href="/update-bateau/{{ bateau.id }}">Modify</a>